@{
    ViewData["Title"] = "İletişim";
}

<h2>İletişim Sayfası</h2>

<p><strong>Adres:</strong> Kayseri/MelikGazi </p>
<p><strong>Telefon:</strong> +90 555 123 45 67</p>
<p><strong>Fax:</strong>555 123 4567</p>
<p><strong>E-posta:</strong> recete360.com</p

