@{
    ViewData["Title"] = "İletişim";
}

<h2>İletişim</h2>

<div class="card p-3">
    <p><strong>Adres:</strong> Sahabiye Mah. 23. Sokak, Kayseri</p>
    <p><strong>Telefon:</strong> +90 534 522 9889</p>
    <p><strong>E-posta:</strong> info@reçete360.com</p>
    <p><strong>Fax:</strong>5345229689</p>
</div>
