@{
    ViewData["Title"] = "Reçete Raporu";
}

<h2>Reçete Raporu</h2>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Malzeme</th>
            <th>Miktar</th>
            <th>Birim</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Koltuk</td>
            <td>Ahşap</td>
            <td>4</td>
            <td>Adet</td>
        </tr>
        <tr>
            <td>Koltuk</td>
            <td>Kumaş</td>
            <td>3</td>
            <td>Metre</td>
        </tr>
        <tr>
            <td>Masa</td>
            <td>Cam</td>
            <td>1</td>
            <td>Adet</td>
        </tr>
    </tbody>
</table>
