@{
    ViewData["Title"] = "Reçete Raporu";
}

<h2>Reçete Raporu</h2>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>Reçete ID</th>
            <th>Ürün Adı</th>
            <th>Gerekli Malzeme</th>
            <th>Miktar</th>
            <th>Toplam Maliyet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>R001</td>
            <td>Ahşap Koltuk</td>
            <td>Kumaş</td>
            <td>5 m²</td>
            <td>750 ₺</td>
        </tr>
        <tr>
            <td>R002</td>
            <td>Ahşap Koltuk</td>
            <td>Ahşap Ayak</td>
            <td>4 adet</td>
            <td>400 ₺</td>
        </tr>
        <tr>
            <td>R003</td>
            <td>Ahşap Koltuk</td>
            <td>Vida Seti</td>
            <td>20 adet</td>
            <td>50 ₺</td>
        </tr>
    </tbody>
</table>
